*{
  .border:solid 1px rgba(0,0,0,0.5);
  box-sizing: border-box;
  transition: all .5s;
}
ul, li, a, div,p{
  padding: 0px;
  margin: 0px;
}
body,footer{
  margin: 0px;
  padding: 0px;
}
.row{
  width:100%;
  margin-right: -40px;
}
.col{
  padding-right: 40px;
  float:left;
}
.col-sm-11{width:91.662%;}
.col-sm-10{width:83.332%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.662%;}
.col-sm-7{width:58.331%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.662%;}
.col-sm-4{width:33.332%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.662%;}
.col-sm-1{width:8.332%;}

.header{
  background-color: #000;
  width:100%;
  height:100px;
  padding-left: 50px;
  padding-right: 100px;
  position: fixed;
  top:0px;
  z-index: 1000;
}
.nav{
  overflow:auto;
}

h1{
  display:inline-block;
  float:left;
  color:#FFF;
  font-family: Microsoft JhengHei;
  margin-top:28px;
  margin-left: 50px;
}
.nav ul li{
  display:inline-block;
  float:right;
  font-family: Arial;
  margin-top: 40px;
  margin-right: 40px;
}
.nav a{
    text-decoration: none;
    color:#FFF;
    font-weight: bolder;
    font-size:14px;
}
.majorPic{
  max-width: 100%;
  height: 780px;
  margin-top: -50px;
  background-image: url("image/cover.jpg");
  background-size: cover;
  background-position: top;
  .background-attachment: fixed;
}
footer{
  clear: both;
  background-color: #000;
  max-width: auto;
  height:80px;
  margin-top:750px;
}
footer p{
  color:#FFF;
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
}
footer a{
  color:#FFF;
  text-decoration: none;
  font-size: 18px;
  margin-top: -30px;
}
.line2{
  border-left:solid 1px #FFF;
  height: 13px;
  display: inline-block;
  margin-right: 10px;
}
.small{
  float:right;
  margin-right: 70px;
  margin-top: 35px;
}
.footerLeft{
  margin-left: 200px;
  float: left;
  display: inline-block;
  margin-top: 30px;
}
.share {

  display: inline-block;
  margin-left: 400px;
  margin-top: 25px;

}
.share img{
  width: 40px;
  height: auto;
}

.mid_finger,.target,.club_intro,.org_intro{
  background-color: #ffe6e6;
  height: 300px;
  padding-left: 50%;
  padding-top: 50%;
  margin-top:50px;
  position: relative;
  border-radius: 10px;
}
.fake{
  height: 300px;
  padding-left: 50%;
  padding-top: 50%;
  margin-top:50px;
}
.mid_finger p,.target p{
  font-size: 72px;
  margin-top:-140px;
  margin-left: -70px;

}
.club_intro p,.org_intro p{
  font-size: 72px;
  margin-top:-140px;
  margin-left: -130px;
}

.mid_finger:hover .content1,.target:hover .content2,.club_intro:hover .content3,.org_intro:hover .content4{
  opacity: 1;
  visibility:visible;
}

.content1,.content2,.content3,.content4{
  height: 300px;
  width: 100%;
  background-color: #333;
  position: absolute;
  top:0px;
  left:0px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  border-radius: 10px;
}
.content1 p,.content2 p,.content3 p,.content4 p{
  padding: 0px;
  margin: 30px;
  font-size:14px;
  color:white;
  line-height: 30px;
  letter-spacing: 2px;
}
