*{
  .border:solid 1px rgba(0,0,0,0.5);
  box-sizing: border-box;
  transition: all .5s;
}
ul, li, a, div,p,h2{
  padding: 0px;
  margin: 0px;
}
body,footer{
  margin: 0px;
  padding: 0px;
}

.container{
  max-width: 1170px;
  overflow: auto;
  justify-content: space-around;
  margin:0 auto;
}

.header{
  background-color: #000;
  width:100%;
  height:100px;
  position: fixed;
  top:0px;
  z-index: 1000;
  overflow: auto;

}
.nav{
  overflow:auto;
}
h1 a{
  text-decoration: none;
  color:#EEE;
}
h1{
  display:inline-block;
  float:left;
  color:#EEE;
  font-family: Microsoft JhengHei;
  margin-top:28px;
}

.nav ul li{
  display:inline-block;
  float:right;
  font-family: Arial;
  margin-top: 40px;
  margin-left : 40px;
}
.nav a{
    text-decoration: none;
    color:#EEE;
    font-weight: bolder;
    font-size:14px;
}
.majorPic{
  max-width: 100%;
  height: 780px;
  margin-top: -50px;
  background-image: url("image/cover.jpg");
  background-size: cover;
  background-position: top;
  .background-attachment: fixed;
}
.title_text{
  width: 100%;
  height: 250px;
}

.title_text h2{
  margin-top: 100px;
  font-size: 50px;
  font-family: Microsoft JhengHei;
  text-align: center;
  color:#003377;
  margin-bottom: 20px;
}

.title_image{
  display: block;
  margin: auto;
}

.title_text p{
  text-align: center;
  font-size: 15px;
  line-height: 30px;
}

.Registration{
  max-width: 100vw;
  height: 400px;
  box-sizing: border-box;
  padding:0 50px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

#Registration_reciprocal{
  height: 300px;
  width:700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Registration_reciprocal h2{
  font-family: Microsoft JhengHei;
  color: #003377;
}

#Registration_reciprocal h3,p{
  font-family: 微軟正黑體;
}

#Registration_reciprocal #reciprocal{
  height: 200px;
  width:700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

#Registration_reciprocal #reciprocal .Date h3{
  margin: 15px 0;
}

#Registration_reciprocal #reciprocal .Date{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
  margin: 0 5px;
}

#Registration_reciprocal .Date .unit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 180px;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: #000;
  color: #FFF;
  font-size: 50px;
  font-family: Microsoft JhengHei;
}

.Registration_Process{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:700px;
  height: 300px;
}

#Registration_window{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 220px;
}

#Network_registration,#Onsite_registration{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor:default;
  border:5pt solid #FFF;
  border-radius: 20px;
  width: 300px;
  height: 220px;
  background-color: #000;
}

#Registration_window h2{
  color:#EEE;
  font-family: 微軟正黑體;
}

#Network_text, #Onsite_text{
  display:none;
  border-radius: 20px;
  width:400px;
  word-wrap: break-word;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 220px;
  color:#EEE;
  padding: 0 20px;
  background-color: #000;
  border: 2pt solid #EEE;
}

.Registration .Note{
  text-align: left;
  width:700px;
  margin: 0 20px;
  box-sizing: border-box;
  padding-left: 90px;
}

#hexagon{
  width:100%;
  height: 500px;
  display:flex;
  align-content: center;
  justify-content: center;
}

#hexagon::after{
  clear:both;
}

#hexagon #left_Tri,#hexagon #right_Tri{
  width: 15%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hexagon #left_Tri p,#hexagon #right_Tri p{
  font-size: 100px;
  font-family: Arial;
  cursor: pointer;
}

#hexagon #mid_squre{
  float: left;
  width: 70%;
  height: 500px;
  background-color:#000;
  border-radius: 20px;
  border: 2pt solid #EEE;
}

#hexagon #mid_squre .Group_intr{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  padding: 0 20px;
}

#hexagon #mid_squre .Group_intr h2{
  font-size: 50px;
  font-family: Microsoft JhengHei;
  color:	#EEE;
  margin: 30px 0;
}

#hexagon #mid_squre .Group_intr .content{
  display: flex;
  width: 100%;
  height: 350px;
  align-items: center;
  justify-content: center;
}

#hexagon #mid_squre .Group_intr .content p{
  font-size: 25px;
  line-height: 45px;
  color:#F0F0F0;
  font-family: 微軟正黑體;
}

#otherIntro{
  width: 100%;
  height: 450px;
  padding:20px 8vw 20px 8vw;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#equipmentIntro ,#checkIntro ,#scoreIntro{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  width:300px;
  height: 300px;
  border-radius: 150px;
  border: 2px solid #000;
  text-align: center;
  margin: 20px auto;
  font-family: 微軟正黑體;
  font-size: 25px;
  padding: 30px 60px;
}

#otherIntro h2{
  margin: 20px 0;
}

#otherIntro #text_equipmentIntro,#otherIntro #text_checkIntro,#otherIntro #text_scoreIntro{
  display: none;
  height: 300px;
  width:80%;
  line-height: 45px;
  align-items: center;
  justify-content:flex-start;
  padding: 0 30px;
  border:2px solid #000;
}

footer{
  clear: both;
  background-color: #000;
  max-width: auto;
  height:80px;
  margin-top:20px;
}
footer p{
  color:#EEE;
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
}
footer a{
  color:#EEE;
  text-decoration: none;
  font-size: 18px;
  margin-top: -30px;
}
.line2{
  border-left:solid 1px #EEE;
  height: 13px;
  display: inline-block;
  margin-right: 10px;
}
.small{
  float:right;
  margin-top: 35px;
}
.footerLeft{

  float: left;
  display: inline-block;
  margin-top: 30px;
}
.share {
  display: inline-block;
  margin-left: 400px;
  margin-top: 25px;

  height: auto;
}
.share img{
  width: 40px;
  height: auto;
  display: inline-block;
}
img.share_btn{
  cursor: pointer;
}
.share_icons{
  padding: 5px 20px;
  background-color: #ddd;
  display: inline-block;
  border-radius: 5px;
  opacity: 0;
  text-align:center;
  vertical-align: top;
  -visibility: visible;
}
/*.share:hover ~ .share_icons{
  opacity: 1;
  -visibility: visible;
}*/
.share_icons_display{
  opacity: 1;
}

.share_icons li{
  display: inline;
  width: auto;
}
.share_icons img{
  width: 30px;
  height:auto;
  margin: 0 5px;

}
