
.index__intro__signup{
  width: 100%;
  height: 270px;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.index__intro__signup__countdown{
  height: 250px;
  width:520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index__intro__signup__countdown__title{
  font-family: Microsoft JhengHei;
  color: #003377;
  margin: 0.5px 0;
}

.index__intro__signup__countdown__main{
  height: 175px;
  width:520px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.index__intro__signup__countdown__main__date{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 170px;
  margin: 0 5px;
}

.index__intro__signup__countdown__main__date__num{
  margin: 10px 0;
  font-family: 微軟正黑體;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 160px;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: #000;
  color: #FFF;
  font-size: 25px;
  font-family: Microsoft JhengHei;
}

.index__intro__signup__countdown__main__date__unit{
  margin: 5px 0;
}

.index__intro__signup__countdown__time{
  font-family: 微軟正黑體;
}

.index__intro__signup__process{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:500px;
  height: 230px;
  margin-top:20px;
}

.index__intro__signup__process__window{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 180px;
}

.index__intro__signup__process__window__network,.index__intro__signup__process__window__onsite{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor:default;
  border:5pt solid #FFF;
  border-radius: 20px;
  width: 240px;
  height: 180px;
  background-color: #000;
}

.index__intro__signup__process__window__network{
  background-color: #FF0000;
}

.index__intro__signup__process__window__onsite{
  background-color: #0066FF;
}

.index__intro__signup__process__window__title{
  color:.EEE;
  font-family: 微軟正黑體;
}

.index__intro__signup__process__window__network__text, .index__intro__signup__process__window__onsite__text{
  display:none;
  border-radius: 20px;
  width:320px;
  word-wrap: break-word;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 180px;
  padding: 0 20px;
  border: 2pt solid #000;
}

.index__intro__signup__process__note{
  text-align: left;
  width:480px;
  margin:5px 10px 0px 10px;
  box-sizing: border-box;
  height: 40px;
}

.hexagon{
  width:100%;
  height: 500px;
  display:flex;
  align-content: center;
  justify-content: center;
}

.hexagon::after{
  clear:both;
}

.hexagon .left_Tri,.hexagon .right_Tri{
  width: 15%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon .left_Tri p,.hexagon .right_Tri p{
  font-size: 100px;
  font-family: Arial;
  cursor: pointer;
}

.hexagon .mid_squre{
  float: left;
  width: 70%;
  height: 500px;
  border-radius: 20px;
  border: 2pt solid .000;
}

.hexagon .mid_squre .Group_intr{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  padding: 0 20px;
}

.hexagon .mid_squre .Group_intr h2{
  font-size: 50px;
  font-family: Microsoft JhengHei;
  margin: 20px 0;
}

.hexagon .mid_squre .Group_intr .content{
  display: flex;
  width: 100%;
  height: 350px;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 8px;
}

.hexagon .mid_squre .Group_intr .content p{
  font-size: 25px;
  line-height: 45px;
  font-family: 微軟正黑體;
}

.otherIntro{
  width: 100%;
  height: 450px;
  padding:20px 8vw 20px 8vw;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.equipmentIntro ,.checkIntro ,.scoreIntro{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  width:300px;
  height: 300px;
  border-radius: 150px;
  border: 2px solid .000;
  text-align: center;
  margin: 20px auto;
  font-family: 微軟正黑體;
  font-size: 25px;
  padding: 30px 60px;
}

.equipmentIntro{
  background-color: .666666;
}

.scoreIntro{
  background-color: 	.CCFF99;
}

.otherIntro h2,.otherIntro h4{
  margin: 20px 0;
}

.otherIntro .text_equipmentIntro,.otherIntro .text_checkIntro,.otherIntro .text_scoreIntro{
  display: none;
  height: 300px;
  width:80%;
  line-height: 45px;
  align-items: center;
  justify-content:flex-start;
  padding: 0 30px;
  border:2px solid .EEE;
  color: .EEE;
  background-color: .000;
  border-radius: 10px;
}

footer{
  clear: both;
  background-color: .000;
  max-width: auto;
  height:80px;
  margin-top:20px;
}
footer p{
  color:.EEE;
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
}
footer a{
  color:.EEE;
  text-decoration: none;
  font-size: 18px;
  margin-top: -30px;
}
.line2{
  border-left:solid 1px .EEE;
  height: 13px;
  display: inline-block;
  margin-right: 10px;
}
.small{
  float:right;
  margin-top: 35px;
}
.footerLeft{

  float: left;
  display: inline-block;
  margin-top: 30px;
}
.share {
  display: inline-block;
  margin-left: 400px;
  margin-top: 25px;

  height: auto;
}
.share img{
  width: 40px;
  height: auto;
  display: inline-block;
}
img.share_btn{
  cursor: pointer;
}
.share_icons{
  padding: 5px 20px;
  background-color: .ddd;
  display: inline-block;
  border-radius: 5px;
  opacity: 0;
  text-align:center;
  vertical-align: top;
  -visibility: visible;
}
/*.share:hover ~ .share_icons{
  opacity: 1;
  -visibility: visible;
}*/
.share_icons_display{
  opacity: 1;
}

.share_icons li{
  display: inline;
  width: auto;
}
.share_icons img{
  width: 30px;
  height:auto;
  margin: 0 5px;

}
