*{
  box-sizing: border-box;
}

ul, li, a, div,p{
  padding: 0px;
  margin: 0px;
}

body,footer{
  margin: 0px;
  padding: 0px;
  font-family: 微軟正黑體;
}
.header{
  background-color: #000;
  width:100%;
  height:100px;
  position: fixed;
  top:0px;
  z-index: 1000;
  overflow: auto;

}
.nav{
  overflow:auto;
}
h1 a{
  text-decoration: none;
  color:#EEE;
}
h1{
  display:inline-block;
  float:left;
  color:#EEE;
  font-family: Microsoft JhengHei;
  margin-top:28px;
}
.nav ul li{
  display:inline-block;
  float:right;
  font-family: Arial;
  margin-top: 40px;
  margin-left : 40px;

}
.nav a{
    text-decoration: none;
    color:#EEE;
    font-weight: bolder;
    font-size:14px;
}
.container{
  max-width: 1170px;
  overflow: auto;
  justify-content: space-around;
  margin:0 auto;
}

.main{
  height: 700px;
  width: 100%;
  background-size: cover;
  position:inherit;
}
.container123{
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}
.p_1{
  width: 100%;
  height: 450px;
  background-image: url("image/a_2.png");
}
.p_1_l{
  display: inline-block;
  width: 80%;
  height: 400;
  float: left;
  margin-left: 50px;
}
.p_1_l h2{
  color: 	#FF3333;
  font-size: 55px;
  width: 80%;
  margin-top: 50px;
}
.p_a{
  border-bottom: 1px dotted white;
  width: 80%;
  color: white;
  display: inline-block;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
}

.p_a:hover{
  transform: scale(0.8);
}
.more_t{
  border: 3px solid yellow;
  width: 10%;
  float: right;
  margin-top: 400px;
  margin-right: 50px;
}
.more_t a{
  font-size: 30px;
  color: yellow;
  text-decoration: none;
}

.p_2{
  width: 100%;
  height: 500px;
  background-image: url("image/a_3.png");
  background-size: cover;
  margin: 0px;
  overflow: auto;
}
.p_m_t{
  margin-top: 0px;
  text-align: center;
  margin-top: 200px;
}
.p_m_t a{
  color: white;
  font-size: 50px;
}
.p_t_t{
  margin: 0px;
  text-align: center;
  margin-top: 20px;
}
.p_t_t a{
  color: white;
  font-size: 20px;
}
.house{
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.p_3{
  width: 100%;
  height: 400px;
}
.pic_c_l{
  margin-left: 100px;
}
.p_r{
  display: inline-block;
  float: right;
  margin: 0px;
  margin-right: 180px;
}
.p_3_r_t{
  margin-top: 65px;
  margin-bottom: 30px;
}
.p_3_r_t p{
  margin: 0px;
  color: 	#FF3333;
  font-size: 30px;
}
.p_3_r_a{
  margin: 0px;
  margin-left: 80px;
}
.p_3_r_more{
  border: 3px solid yellow;
  width: 30%;
  height: 20%;
  text-align: center;
  padding-top: 25px;
  margin-left: 500px;
}
.p_3_r_more a{
  color: black;
  font-size: 23px;
  font-family: sans-serif;
  text-decoration: none;
}
.p_3_r_more:hover{
  background-color: 	#FF3333;
  border: 3px solid white;
}
.pic_c_2{
  float: right;
  margin-right: 100px;
  margin-top: 20px;
}
.p_l{
  display: inline-block;
  margin: 0px;
  margin-left: 100px;
}
.p_3_l_a,.p_3_r_a{
  line-height: 25px;
  font-family: Microsoft JhengHei;
}
.p_3_l_t{
  margin-top: 60px;
  margin-bottom: 30px;
}
.p_3_l_t p{
  margin: 0px;
  color: 	#FF3333;
  font-size: 30px;
}
.p_3_l_a{
  margin: 0px;
  margin-left: 80px;
}
.p_3_l_more{
  border: 3px solid yellow;
  width: 30%;
  height: 20%;
  text-align: center;
  padding-top: 25px;
  margin-left: 500px;
}
.p_3_l_more a{
  color: black;
  font-size: 23px;
  font-family: sans-serif;
  text-decoration: none;
}
.p_3_l_more:hover{
  background-color: #FF3333;
  border: 3px solid white;
}
footer{
  clear: both;
  background-color: #000;
  max-width: auto;
  height:80px;
  margin-top:20px;
}
footer p{
  color:#EEE;
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
}
footer a{
  color:#EEE;
  text-decoration: none;
  font-size: 18px;
  margin-top: -30px;
}
.line2{
  border-left:solid 1px #EEE;
  height: 13px;
  display: inline-block;
  margin-right: 10px;
}
.small{
  float:right;
  margin-top: 35px;
}
.footerLeft{

  float: left;
  display: inline-block;
  margin-top: 30px;
}
.share {
  display: inline-block;
  margin-left: 400px;
  margin-top: 25px;

  height: auto;
}
.share img{
  width: 40px;
  height: auto;
  display: inline-block;
}
img.share_btn{
  cursor: pointer;
}
.share_icons{
  padding: 5px 20px;
  background-color: #ddd;
  display: inline-block;
  border-radius: 5px;
  opacity: 0;
  text-align:center;
  vertical-align: top;
  -visibility: visible;
}
/*.share:hover ~ .share_icons{
  opacity: 1;
  -visibility: visible;
}*/
.share_icons_display{
  opacity: 1;
}

.share_icons li{
  display: inline;
  width: auto;
}
.share_icons img{
  width: 30px;
  height:auto;
  margin: 0 5px;

}
*{
  Xborder: 1px solid black;
}

--最新消息
.a_1,.a_2,.a_3,.a_4{
  width: 100%;
  height: 370px;
}
.a_i{
  width: 100%;
  height: 300px;
}
.a_5{
  width: 100%;
  height: 150px;
}
.a_i h2{
  margin-top: 100px;
  font-size: 50px;
  font-family: Microsoft JhengHei;
  text-align: center;
  color:	#003377;
}
.a_i_img{
  display:block;
  margin: auto;
}
.a_i h3{
  text-align: center;
  font-size: 25px;
  color: #886600;
  margin-bottom: 50px;
}
.a_i p{
  text-align: center;
  font-size: 15px;
  line-height: 30px;
}
.a_1 p,.a_2 p,.a_3 p,.a_4 p{
  line-height: 20px;
}
.a_1_1,.a_1_3{
  display: inline-block;
  width: 18%;
  margin-top: 150px;
}
.a_1_2,.a_1_4{
  display: inline-block;
  width: 30%;
  overflow: auto;
}
.a_1_1 img , .a_1_3 img{
  display: block;
  margin: auto;
}
.a_1_2_4,.a_1_4_4{
  Xtext-decoration: none;
  float: right;
}
.a_1_2_2 a,.a_1_4_2 a{
  color: black;
  font-size: 30px;
  margin: 0px;
  text-decoration: none;
}
.a_1_2_4 a,.a_1_4_4 a{
  color: black;
  font-size: 10px;
  text-decoration: none;
}
.a_2_1,.a_2_3{
  display: inline-block;
  width: 30%;
  margin-left: 20px;
  overflow: auto;
}
.a_2_2,.a_2_4{
  display: inline-block;
  width: 18%;
  margin-top: 150px;
}
.a_2_2 img , .a_2_4 img{
  display: block;
  margin: auto;
}.a_2_2_2,.a_2_4_2{
  text-decoration: none;
}
.a_2_2_4,.a_2_4_4{
  text-decoration: none;
  float: right;
}
.a_2_2_2 a,.a_2_4_2 a{
  color: black;
  font-size: 30px;
  margin: 0px;
  text-decoration: none;
}
.a_2_2_4 a,.a_2_4_4 a{
  color: black;
  font-size: 10px;
  text-decoration: none;
}
