/*----_index_signOut----*/

.index__signOut{
  margin: 100px auto;
  height: 200px;
}

.index__signOut__form{
  margin:20px 0;
}

.index__signOut__btn{
  margin:20px 0;
}

/*----_index_signUpEND----*/
